* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  user-select: none;
  color: var(--black-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
:root {
  --main-color: #f59e0b;
  --secondary-color: #0d172a;
  --black-color: #000000;
  --white-color: #ffffff;
  --text-color: #b3a9a9;
  --bg-color: #e1e1e7;
}
/*?----------------------------------------------------------menu-----*/
body {
  background-color: var(--bg-color);
}
nav {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--secondary-color);
}
.container {
  max-width: 1660px;
  margin: 0 auto;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 3px 15px;
  overflow: hidden;
  height: 60px;
}
.home > .fa-home {
  color: var(--main-color);
  font-size: 2rem;
  opacity: 1;
  cursor: pointer;
}

.main-title {
  font-size: 1.3rem;
  color: var(--white-color);
  font-weight: 900;
}

.user-info-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}
.user-info-item span {
  font-size: 0.9rem;
}

.user-info-item .fa {
  margin: 10px;
  color: var(--main-color);
  font-size: 25px;
  opacity: 1;
}

.user-info-items span {
  display: none;
  color: var(--white-color);
}
.user-info-item:hover {
  opacity: 0.8;
}

.fa:hover {
  opacity: 0.8;
}

/*?----------------------------------------------------------main-----*/
main > img {
  display: none;
}
main .empty-text {
  display: none;
}
.container main {
  min-height: 100vh;
  padding: 80px 5px 0;
  position: relative;
  overflow: hidden;
}

.cart > h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 2px 5px;
  background-color: var(--main-color);
  border-radius: 100% 100% 0 0;
  border-radius: 10px;
}
table {
  width: 100%;
  margin-bottom: 20px;
}
thead tr th {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 900;
  padding: 8px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-radius: 10px;
}
table tr {
  transition: 0.4s;
}
table tr:hover {
  background-color: #ffbf0030;
}
table td {
  border-bottom: 2px dashed var(--main-color);
}

tbody tr td:first-child > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
tbody tr td:first-child img {
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1.1/1;
}
tbody tr td:first-child h3 {
  font-size: 0.9rem;
}
tbody tr td:nth-child(2) > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 15px;
}
tbody tr td:nth-child(2) .plus-minus {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  background-color: var(--white-color);
  border-radius: 8px;
}
tbody tr td:nth-child(2) .minus {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 0 0 8px;
  transition: 0.4s;
  cursor: pointer;
  padding: 5px 0;
}
tbody tr td:nth-child(2) .minus:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
tbody tr td:nth-child(2) .number {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}
tbody tr td:nth-child(2) .plus {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 8px 8px 0;
  transition: 0.4s;
  cursor: pointer;
  padding: 5px 0;
}
tbody tr td:nth-child(2) .plus:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
tbody tr td:nth-child(2) .remove {
  font-weight: 900;
  cursor: pointer;
}
tbody tr td:nth-child(2) .remove span {
  color: var(--text-color);
  margin-left: 5px;
  transition: 0.4s;
}
tbody tr td:nth-child(2) i.fa {
  color: var(--text-color);
  transition: 0.4s;
}
tbody tr td:nth-child(2) .remove:hover span {
  color: var(--black-color);
}
tbody tr td:nth-child(2) .remove:hover .fa {
  color: var(--main-color);
  animation: trash-shaker 0.5s alternate infinite linear;
  transform: rotate(-30deg);
  transform-origin: 50% 100%;
}
@keyframes trash-shaker {
  to {
    transform: rotate(30deg);
  }
}
tbody tr td:last-child > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-price-container {
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 1.1rem;
  padding: 15px;
  background-color: var(--white-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.total-price-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 3px;
}
.total-price-container > button {
  font-weight: 900;
  font-size: 1.1rem;
  background-color: var(--main-color);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}
.total-price-container > button:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

body.empty {
  background-color: var(--secondary-color);
}
main.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 !important;
}
main.empty > img {
  display: block;
  width: 200px;
  aspect-ratio: 1.2/1;
  position: relative;
  animation: move-cart 2s infinite linear alternate;
}
@keyframes move-cart {
  from {
    right: -20%;
  }
  to {
    right: 20%;
  }
}
main.empty .empty-text {
  display: block;
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 900;
  text-align: center;
}
main.empty .empty-text span {
  color: var(--main-color);
}

/*!--------------------------------alert  */
.order-id {
  color: var(--main-color);
}
.order-description {
  padding-top: 15px;
  color: var(--text-color);
  font-size: 14px;
  text-align: justify;
}
button.swal2-confirm.swal2-styled {
  position: relative;
  padding: 10px 25px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid rgb(6, 132, 4);
  outline: 2px solid rgb(6, 132, 4);
  outline-offset: -2px;
  font-size: 1.5rem;
  color: rgb(6, 132, 4);
  font-weight: 500;
  cursor: pointer;
  transition: outline-offset 200ms ease;
}
button.swal2-confirm.swal2-styled:hover {
  color: var(--white-color);
  outline-offset: 3px;
  background-color: rgb(6, 132, 4);
}
button.swal2-confirm.swal2-styled:focus,
button.swal2-confirm.swal2-styled:active {
  transform: scale(0.95);
  color: var(--white-color);
  border: 2px solid rgb(6, 132, 4);
  outline: 2px solid rgb(6, 132, 4);
  background-color: rgb(6, 132, 4);
}
button.swal2-cancel.swal2-styled {
  position: relative;
  padding: 10px 25px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid rgb(255, 0, 0);
  outline: 2px solid rgb(255, 0, 0);
  outline-offset: -2px;
  font-size: 1.5rem;
  color: rgb(255, 0, 0);
  font-weight: 500;
  cursor: pointer;
  transition: outline-offset 200ms ease;
}
button.swal2-cancel.swal2-styled:hover {
  color: var(--white-color);
  outline-offset: 3px;
  background-color: rgb(255, 0, 0);
}
button.swal2-cancel.swal2-styled:focus,
button.swal2-cancel.swal2-styled:active {
  transform: scale(0.95);
  color: var(--white-color);
  border: 2px solid rgb(255, 0, 0);
  outline: 2px solid rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
}

@media screen and (min-width: 768px) {
  
  .user-info-items span {
    display: block;
    font-weight: 600;
  }
  .cart {
    width: 70%;
  }
  .cart > h1 {
    font-size: 2.2rem;
  }
  thead tr th {
    font-size: 1.1rem;
  }
  tbody tr td:first-child > div {
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 0;
  }
  tbody tr td:first-child img {
    max-width: 160px;
  }
  tbody tr td:first-child h3 {
    font-size: 1.1rem;
    margin-left: 25px;
  }
  tbody tr td:nth-child(2) .plus-minus {
    font-size: 1.1rem;
  }
  tbody tr td:nth-child(2) .minus {
    width: 35px;
  }
  tbody tr td:nth-child(2) .number {
    width: 35px;
  }
  tbody tr td:nth-child(2) .plus {
    width: 35px;
  }
  tbody tr td:nth-child(2) .remove span {
    font-size: 1.1rem;
  }
  tbody tr td:nth-child(2) i.fa {
    font-size: 1.1rem;
  }

  tbody tr td:last-child > div {
    font-size: 1.4rem;
  }
  .total-price-container {
    width: 28%;
    position: absolute;
    right: 5px;
    top: 80px;
  }
  main.empty > img {
    width: 300px;
    animation-duration: 3s;
  }
  main.empty .empty-text {
    font-size: 2rem;
  }
}
.none {
  display: none;
}
.showModal {
  opacity: 1;
  visibility: visible;
}
.changeModalSitu {
  top: 50%;
}
